div.skill-button-wrapper {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-top: 10em;

    >ul {
        font-family: inherit;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        margin: 0;
        padding: 0;

        >div {
            display: flex;

            >li {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;

                >a {
                    font-size: 20px;
                    color: #333;
                    line-height: 15px;
                    transform: 0.5s;
                    text-decoration: none;
                    display: block;
                    width: 210px;
                    height: 80px;
                    margin-left: 40px;
                    text-align: left;
                    background: rgb(230, 230, 230);
                    transform: rotate(-30deg) skewX(25deg) translate(0, 0);
                    transition: 0.5s;
                    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);

                    >i {
                        line-height: 80px;
                        font-size: 60px;
                        padding-left: 20px;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 10px;
                        left: -20px;
                        height: 100%;
                        width: 20px;
                        background: #b1b1b1;
                        transition: 0.5s;
                        transform: rotate(0deg) skewY(-45deg);
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -20px;
                        left: -10px;
                        height: 20px;
                        width: 100%;
                        background: #b1b1b1;
                        transition: 0.5s;
                        transform: rotate(0deg) skewX(-45deg);
                    }

                    &:hover {
                        transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
                        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
                        cursor: pointer;
                    }

                    &:hover i {
                        color: #fff;
                    }

                    &:hover span {
                        color: #fff;
                    }

                    >span {
                        padding: 0;
                        position: absolute;
                        top: 30px;
                        letter-spacing: 2px;
                        transition: 0.5s;
                        text-align: center;
                        margin-left: 25px;
                        font-weight: 600;

                        &:hover {
                            color: white;
                        }
                    }

                    >span.lastTitle {
                        padding: 0;
                        position: absolute;
                        top: 30px;
                        letter-spacing: 2px;
                        transition: 0.5s;
                        text-align: center;
                        margin-left: 5px;
                        font-weight: 600;

                        &:hover {
                            color: white;
                        }
                    }
                }

                &:hover a {
                    background: blue;
                }

                &:hover a:before {
                    background: rgb(24, 24, 255);
                }

                &:hover a:after {
                    background: rgb(64, 64, 255);
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    div.skill-button-wrapper {
        >ul {
            >div {
                >li {
                    >a {
                        font-size: 16px;
                        width: 170px;
                        height: 70px;

                        >i {
                            line-height: 70px;
                            font-size: 40px;
                        }

                        >span {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 850px) and(max-width: 900px) {
    div.skill-button-wrapper {
        >ul {
            >div {
                >li {
                    >a {
                        font-size: 14px;
                        width: 160px;
                        height: 60px;

                        >i {
                            line-height: 60px;
                            font-size: 40px;
                        }

                        >span {
                            top: 25px;
                            margin-left: 15px;

                            &:hover {
                                color: white;
                            }
                        }

                        >span.lastTitle {
                            top: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    div.skill-button-wrapper {
        >ul {
            >div {
                display: flex;
                flex-direction: column;
                gap: 50px;

                >li {
                    >a {
                        font-size: 14px;
                        width: 160px;
                        height: 60px;

                        >i {
                            line-height: 60px;
                            font-size: 40px;
                        }

                        >span {
                            top: 25px;
                            margin-left: 15px;

                            &:hover {
                                color: white;
                            }
                        }

                        >span.lastTitle {
                            top: 25px;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 500px) {
    div.skill-button-wrapper {
        margin-left: -15px;

        >ul {
            >div {
                >li {
                    >a {
                        font-size: 13px;
                        width: 150px;
                        height: 50px;

                        >i {
                            line-height: 50px;
                            font-size: 35px;
                        }

                        >span {
                            top: 20px;
                        }

                        >span.lastTitle {
                            top: 20px;
                        }
                    }
                }
            }

        }
    }
}