div.education-section-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    > h1.education-section-title{
        margin-top: 1em;
        font-size: 90px;
        text-align: center;
        font-family: inherit;
        font-weight: 800;
        color: black;
        z-index: 10;
        font-family: 'Baloo 2',sans-serif;
    }
    > div.education-cards-wrapper{
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-top: 3em;
        margin-left: 60px;
    }
}

@media only screen and (max-width: 900px){
    div.education-section-wrapper{
        display: flex;
        flex-direction: column;
        >div.education-cards-wrapper{
            display: flex;
            flex-direction: column;
        }
    }
}