div.experience-section-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    > h1.experience-title{
        margin-top: 1em;
        font-size: 90px;
        text-align: center;
        font-family: inherit;
        font-weight: 800;
        color: black;
        margin-right: auto;
        margin-left: auto;
        z-index: 10;
        font-family: 'Baloo 2',sans-serif;
    }
    > div.experience-card-section-wrapper{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 5em;
    }
}