footer.footer-section-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    margin-bottom: 2em;
    > p{
        font-size: 18px;
        font-weight: 500;
    }
    > div.social-links-wrapper{
        display: flex;
        > div.social-links-list{
            display: flex;
            gap: 15px;
            > a{
                display: flex;
                > button{
                    padding:8px;
                    font-size: 20px;
                    background: none;
                    border: 2px solid black;
                    border-radius: 100%;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 0px 0px 10px #ccc;
                        transform: scale(1.1);
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}