div.bgtext-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    >h1.bg-text-title {
        font-size: 90px;
        text-align: center;
        font-family: inherit;
        font-weight: 800;
        color: black;
        margin-right: auto;
        margin-left: auto;
        z-index: 10;
        font-family: 'Baloo 2', sans-serif;
    }

    >p.bg-text-bg-title {
        font-size: 110px;
        font-weight: 700;
        margin-top: -110px;
        color: rgb(225, 225, 225);
    }
}