div.bgtext-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;

    >h1.bg-text-title {
        font-size: 90px;
        text-align: center;
        font-family: inherit;
        font-weight: 800;
        color: black;
        z-index: 10;
        font-family: 'Baloo 2', sans-serif;
    }

    >p.bg-text-bg-title {
        font-size: 110px;
        font-weight: 700;
        margin-top: -110px;
        color: rgb(225, 225, 225);
    }
}

@media screen and (max-width: 700px) {
    div.bgtext-wrapper {
        >h1.bg-text-title {
            font-size: 50px;
        }
        >p.bg-text-bg-title {
            font-size: 70px;
            margin-top: -60px;
        }
    }
}

@media screen and (max-width: 500px) {
    div.bgtext-wrapper {
        >h1.bg-text-title {
            font-size: 45px;
        }
        >p.bg-text-bg-title {
            font-size: 55px;
            margin-top: -50px;
        }
    }
}