button.button-properties{
    padding: 0.7em 1.5em;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    border-radius: 8px;
    border: none;
    background-color: blue;
    font-weight: 500;
    color: white;
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

button.button-icon-properties{
    padding: 0.7em 1.5em;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    background-color: blue;  
    font-weight: 500;
    color: white;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    > i{
        padding-right: 10px;
    }    
}