div.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;

    >div.form-section-wrapper {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        gap: 10px;
        margin-top: 3em;
        width: 50em;
        height: 30em;
        background: #ffffff;
        border: 2px solid #dadada;
        border-radius: 20px;
        box-shadow: 0px 0px 5px #ccc;

        >img.contact-illustration {
            width: 300px;
        }

        >form.contact-us-form {
            display: flex;
            flex-direction: column;
            margin-top: 3em;
            margin-right: 5em;

            >label {
                color: black;
                font-family: inherit;
                font-size: 18px;
                font-weight: 600;
                margin-top: 1em;

                >input {
                    display: block;
                    padding: 0.8em;
                    width: 20em;
                    border-radius: 10px;
                    margin-top: 0.5em;
                    border: 2px solid black;

                    &:focus {
                        outline: none;
                    }
                }
            }

            >textarea {
                margin-top: 0.5em;
                border-radius: 10px;
                padding: 0.6em 0.8em;
                border: 2px solid black;

                &:focus {
                    outline: none;
                }
            }

            >button.btn-submit {
                padding: 0.8em 1.5em;
                text-align: center;
                font-size: 18px;
                font-family: inherit;
                border: none;
                border-radius: 8px;
                background-color: blue;
                font-weight: 500;
                color: white;
                cursor: pointer;
                margin-top: 10px;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: hsl(240, 90%, 60%);
                }
            }
        }
    }

}