div.about-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

div.about-section-wrapper > div.about-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
}

div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3em;
}

div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para > p {
  margin-right: 3em;
  line-height: 1.6;
  font-size: 20px;
  text-align: justify;
  font-family: 'Inter';
}

div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para > div.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

div.about-section-wrapper > div.about-info-wrapper > img.about-me-profilePic {
  margin-right: 5em;
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1320px) {
  div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para > div.btn-wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1080px) {
  div.about-section-wrapper > div.about-info-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para > p {
    font-size: 18px;
  }
  div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para > div.btn-wrapper {
    margin-top: 20px;
  }
}

@media screen and (max-width: 950px) {
  div.about-section-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
  div.about-section-wrapper > div.about-info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para {
    margin-top: 40px;
  }
  div.about-section-wrapper > div.about-info-wrapper > div.about-me-btn-para > div.btn-wrapper {
    margin-top: 20px;
  }
  div.about-section-wrapper > div.about-info-wrapper > img.about-me-profilePic {
    margin-right: 0em;
  }
}
/*# sourceMappingURL=style.views.about.css.map */