div.experience-card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    width: 90%;
    height: auto;
    padding: 2em;
    padding-left: 3em;
    box-shadow: 0px 0px 5px #ccc;
    > h1.experience-title{
        font-family: 'Baloo 2';
    }
    > p.company-title{
        font-size: 19px;
        font-family: 'Baloo 2';
        font-weight: 500;
    }
    > ul.experience-description-wrapper{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;
        font-family: 'Inter';
    }
}