div.intro-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em;

    >div.profile-content {
        display: flex;
        flex-direction: column;

        >p.greet {
            font-size: 35px;
            font-weight: 700;
            margin-left: 8px;
        }

        >h1.name {
            font-size: 150px;
            font-weight: 700;
        }

        >p.titles {
            font-size: 30px;
            margin: 8px;
            font-weight: 700;
        }

        >div.social-links-wrapper {
            display: flex;
            margin-left: 8px;

            >div.social-links-list {
                display: flex;
                gap: 15px;

                >a {
                    display: flex;

                    >button {
                        padding: 8px;
                        font-size: 20px;
                        background: none;
                        border: 2px solid black;
                        border-radius: 100%;
                        cursor: pointer;

                        &:hover {
                            box-shadow: 0px 0px 10px #ccc;
                            transform: scale(1.1);
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }

    >div.git-image {
        display: flex;

        >img {
            width: 500px;
            cursor: pointer;
            margin-right: 20px;
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    div.intro-section-wrapper {
        >div.profile-content {
            display: flex;
            flex-direction: column;

            >p.greet {
                font-size: 30px;
                font-weight: 700;
                margin-left: 8px;
            }

            >h1.name {
                font-size: 130px;
                font-weight: 700;
            }

            // >p.titles {
            //     font-size: 30px;
            //     margin-top: 50px;
            //     font-weight: 700;
            // }
        }

        >div.git-image {
            >img {
                width: 400px;
                cursor: pointer;
                margin-right: 20px;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    div.intro-section-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >div.git-image {
            margin-top: 7em;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}
@media screen and (max-width: 550px) {
    div.intro-section-wrapper {
        margin-left: 30px;
        margin-right: auto;
        >div.profile-content{
            >p.greet{
                font-size: 25px;
            }
            >h1.name{
                font-size: 110px;
            }
            >p.titles{
                font-size: 20px;
            }
        }
        >div.git-image {
            >img{
                width: 330px;
            }
        }
    }
}